/Debug/
/Release/
=======
*.d.o
*.r.o
*.pr.o
*.swp
*.swo
*.cud.o
*.cur.o
*.ocd.o
*.ocr.o
*.ocl.o
HuffFramework
HuffFrameworkDebug
HuffFrameworkCPU
HuffFrameworkDebugCPU
HuffFrameworkGPU
HuffFrameworkDebugGPU
HuffFrameworkGPUBuildBinaryKernels
HuffFrameworkGPUWithBinaryKernels
HuffFrameworkGPUWithSourceKernels
*.bin
